body{
	font-family: Verdana;
	margin: 1rem;
}
#log-container{
	border: 1px solid black;
	width: 50%;
	margin: 2rem;
	bottom: 3rem;
	right: 0rem;
	top: 3rem;
	position : absolute;
	overflow: hidden;
}
#msg-log{
	border: 1px solid black;
	margin: 2rem;
	overflow: scroll;
	width: 50%;
	bottom: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30rem;
}
#log {
	border: 1px solid black;
	margin: 2rem;
	overflow: scroll;
	left: 32rem;
	bottom: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#log span {
	font-size: 15px;
	margin: 0px 5px;
}
#log ul{
	list-style-type: none;
}
#log li {
	margin: 0rem 1rem;
	border-bottom: 1px solid lightgray;
}
li span.second-user{
	font-weight: bold;
}